.parallax-container {
      height: 40vh;
  }
.parallax-image{
  width: 100%;
}

nav#landing{
  background-color: #FF5722;
}
#requester, #courrier{
  background-color: #FF5722;
}
#pakket-logo{
  padding-top: 5px;
  height: 50px;
}

ul li .drop-menu{
  color: black;
}
