.parallax-container {
      height: 40vh;
  }
.parallax-image{
  width: 100%;
}

nav#landing{
  background-color: #FF5722;
}
#requester, #courrier{
  background-color: #FF5722;
}
#pakket-logo{
  height: 50px;
}
